# COPY FILE INI MENJADI .env DAN SESUAIKAN NILAINYA

# 1. Konfigurasi Keamanan
SECRET_KEY=ganti_dengan_keamanan_sangat_tinggi_minimal_32_karakter
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# 2. Database PostgreSQL 
DB_USER=user_admin
DB_PASSWORD=password_kuat
DB_HOST=db
DB_PORT=5432
DB_NAME=db_refraksi

# 3. CORS 
ALLOWED_ORIGINS=*

# 4. Redis (Untuk Distributed Rate Limiting)
REDIS_HOST=redis
REDIS_PORT=6379

# 5. Gemini AI (Untuk Chat RAG & Fallback AI)
GEMINI_API_KEY=......

# 6. AI Model Paths
MODEL_PATH=model_miopia.h5
AI_MODEL_ONNX_PATH=model_miopia.onnx
