--
-- PostgreSQL database dump
--

\restrict 1qh4IUabtODgJhccR3YQA517hF1QGcnpFOKmYjsBubaIaHlzOeHWBq6amOMGcBd

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: jeniskelamin; Type: TYPE; Schema: public; Owner: user_admin
--

CREATE TYPE public.jeniskelamin AS ENUM (
    'LAKI_LAKI',
    'PEREMPUAN'
);


ALTER TYPE public.jeniskelamin OWNER TO user_admin;

--
-- Name: jenjangpendidikan; Type: TYPE; Schema: public; Owner: user_admin
--

CREATE TYPE public.jenjangpendidikan AS ENUM (
    'SD',
    'SMP',
    'SMA',
    'D3',
    'D4_S1',
    'S2_S3',
    'LAINNYA'
);


ALTER TYPE public.jenjangpendidikan OWNER TO user_admin;

--
-- Name: statuspekerjaan; Type: TYPE; Schema: public; Owner: user_admin
--

CREATE TYPE public.statuspekerjaan AS ENUM (
    'PELAJAR_MAHASISWA',
    'BEKERJA',
    'TIDAK_BEKERJA'
);


ALTER TYPE public.statuspekerjaan OWNER TO user_admin;

--
-- Name: userrole; Type: TYPE; Schema: public; Owner: user_admin
--

CREATE TYPE public.userrole AS ENUM (
    'USER',
    'ADMIN'
);


ALTER TYPE public.userrole OWNER TO user_admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: articles; Type: TABLE; Schema: public; Owner: user_admin
--

CREATE TABLE public.articles (
    id integer NOT NULL,
    title character varying NOT NULL,
    content text NOT NULL,
    image_url character varying,
    share_url character varying,
    category character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.articles OWNER TO user_admin;

--
-- Name: articles_id_seq; Type: SEQUENCE; Schema: public; Owner: user_admin
--

CREATE SEQUENCE public.articles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.articles_id_seq OWNER TO user_admin;

--
-- Name: articles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_admin
--

ALTER SEQUENCE public.articles_id_seq OWNED BY public.articles.id;


--
-- Name: chat_feedback; Type: TABLE; Schema: public; Owner: user_admin
--

CREATE TABLE public.chat_feedback (
    id integer NOT NULL,
    user_id integer NOT NULL,
    message_id integer,
    rating integer NOT NULL,
    comment text,
    created_at timestamp without time zone
);


ALTER TABLE public.chat_feedback OWNER TO user_admin;

--
-- Name: chat_feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: user_admin
--

CREATE SEQUENCE public.chat_feedback_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chat_feedback_id_seq OWNER TO user_admin;

--
-- Name: chat_feedback_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_admin
--

ALTER SEQUENCE public.chat_feedback_id_seq OWNED BY public.chat_feedback.id;


--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: user_admin
--

CREATE TABLE public.chat_messages (
    id integer NOT NULL,
    user_id integer NOT NULL,
    session_id character varying,
    role character varying NOT NULL,
    message text NOT NULL,
    is_read boolean,
    metadata_json json,
    created_at timestamp without time zone
);


ALTER TABLE public.chat_messages OWNER TO user_admin;

--
-- Name: chat_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: user_admin
--

CREATE SEQUENCE public.chat_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chat_messages_id_seq OWNER TO user_admin;

--
-- Name: chat_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_admin
--

ALTER SEQUENCE public.chat_messages_id_seq OWNED BY public.chat_messages.id;


--
-- Name: emergency_contacts; Type: TABLE; Schema: public; Owner: user_admin
--

CREATE TABLE public.emergency_contacts (
    id integer NOT NULL,
    nama character varying NOT NULL,
    nomor_telepon character varying NOT NULL,
    kategori character varying NOT NULL
);


ALTER TABLE public.emergency_contacts OWNER TO user_admin;

--
-- Name: emergency_contacts_id_seq; Type: SEQUENCE; Schema: public; Owner: user_admin
--

CREATE SEQUENCE public.emergency_contacts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.emergency_contacts_id_seq OWNER TO user_admin;

--
-- Name: emergency_contacts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_admin
--

ALTER SEQUENCE public.emergency_contacts_id_seq OWNED BY public.emergency_contacts.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: user_admin
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    title character varying NOT NULL,
    message text NOT NULL,
    is_read boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.notifications OWNER TO user_admin;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: user_admin
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.notifications_id_seq OWNER TO user_admin;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_admin
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: riwayat_tes; Type: TABLE; Schema: public; Owner: user_admin
--

CREATE TABLE public.riwayat_tes (
    id integer NOT NULL,
    user_id integer NOT NULL,
    image_path character varying NOT NULL,
    hasil_klasifikasi character varying NOT NULL,
    estimasi_dioptri character varying NOT NULL,
    confidence_score double precision NOT NULL,
    catatan_admin text,
    waktu_tes timestamp without time zone
);


ALTER TABLE public.riwayat_tes OWNER TO user_admin;

--
-- Name: riwayat_tes_id_seq; Type: SEQUENCE; Schema: public; Owner: user_admin
--

CREATE SEQUENCE public.riwayat_tes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.riwayat_tes_id_seq OWNER TO user_admin;

--
-- Name: riwayat_tes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_admin
--

ALTER SEQUENCE public.riwayat_tes_id_seq OWNED BY public.riwayat_tes.id;


--
-- Name: user_activities; Type: TABLE; Schema: public; Owner: user_admin
--

CREATE TABLE public.user_activities (
    id integer NOT NULL,
    user_id integer NOT NULL,
    activity_type character varying NOT NULL,
    description character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.user_activities OWNER TO user_admin;

--
-- Name: user_activities_id_seq; Type: SEQUENCE; Schema: public; Owner: user_admin
--

CREATE SEQUENCE public.user_activities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_activities_id_seq OWNER TO user_admin;

--
-- Name: user_activities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_admin
--

ALTER SEQUENCE public.user_activities_id_seq OWNED BY public.user_activities.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: user_admin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    nama_lengkap character varying NOT NULL,
    email character varying NOT NULL,
    hashed_password character varying NOT NULL,
    umur integer NOT NULL,
    kelamin public.jeniskelamin NOT NULL,
    jenjang_pendidikan public.jenjangpendidikan NOT NULL,
    status_pekerjaan public.statuspekerjaan NOT NULL,
    profile_image character varying,
    is_2fa_enabled boolean,
    phone_number character varying,
    vision_concerns json,
    allergies character varying,
    medical_history text,
    vision_type character varying,
    role public.userrole,
    created_at timestamp without time zone,
    reset_token character varying
);


ALTER TABLE public.users OWNER TO user_admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: user_admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO user_admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: articles id; Type: DEFAULT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.articles ALTER COLUMN id SET DEFAULT nextval('public.articles_id_seq'::regclass);


--
-- Name: chat_feedback id; Type: DEFAULT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.chat_feedback ALTER COLUMN id SET DEFAULT nextval('public.chat_feedback_id_seq'::regclass);


--
-- Name: chat_messages id; Type: DEFAULT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.chat_messages ALTER COLUMN id SET DEFAULT nextval('public.chat_messages_id_seq'::regclass);


--
-- Name: emergency_contacts id; Type: DEFAULT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.emergency_contacts ALTER COLUMN id SET DEFAULT nextval('public.emergency_contacts_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: riwayat_tes id; Type: DEFAULT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.riwayat_tes ALTER COLUMN id SET DEFAULT nextval('public.riwayat_tes_id_seq'::regclass);


--
-- Name: user_activities id; Type: DEFAULT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.user_activities ALTER COLUMN id SET DEFAULT nextval('public.user_activities_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: articles; Type: TABLE DATA; Schema: public; Owner: user_admin
--



--
-- Data for Name: chat_feedback; Type: TABLE DATA; Schema: public; Owner: user_admin
--

COPY public.chat_feedback (id, user_id, message_id, rating, comment, created_at) FROM stdin;
\.


--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: user_admin
--



--
-- Data for Name: emergency_contacts; Type: TABLE DATA; Schema: public; Owner: user_admin
--

COPY public.emergency_contacts (id, nama, nomor_telepon, kategori) FROM stdin;
1	RS Mata Cicendo	(022) 4231280	Pusat
2	JEC Kedoya	(021) 29221000	Swasta
3	KMN Jakarta	(021) 7516688	Klinik
4	RS Mata Bali	(0361) 243481	Daerah
5	RS Mata Undaan	(031) 5343806	Daerah
6	RS Mata Dr. Yap	(0274) 562054	Sejarah
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: user_admin
--

COPY public.notifications (id, user_id, title, message, is_read, created_at) FROM stdin;
1	1	Sistem Siap!	Database telah di-refresh dengan 30 artikel baru. Selamat melakukan pengujian!	f	2026-03-24 08:46:25.467764
2	4	Selamat Datang! ≡ƒæï	Halo alba, selamat bergabung di MataCeria. Mari jaga kesehatan mata Anda bersama kami.	f	2026-03-25 05:51:30.800718
\.


--
-- Data for Name: riwayat_tes; Type: TABLE DATA; Schema: public; Owner: user_admin
--

COPY public.riwayat_tes (id, user_id, image_path, hasil_klasifikasi, estimasi_dioptri, confidence_score, catatan_admin, waktu_tes) FROM stdin;
\.


--
-- Data for Name: user_activities; Type: TABLE DATA; Schema: public; Owner: user_admin
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: user_admin
--



--
-- Name: articles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_admin
--

SELECT pg_catalog.setval('public.articles_id_seq', 35, true);


--
-- Name: chat_feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_admin
--

SELECT pg_catalog.setval('public.chat_feedback_id_seq', 1, false);


--
-- Name: chat_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_admin
--

SELECT pg_catalog.setval('public.chat_messages_id_seq', 92, true);


--
-- Name: emergency_contacts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_admin
--

SELECT pg_catalog.setval('public.emergency_contacts_id_seq', 6, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_admin
--

SELECT pg_catalog.setval('public.notifications_id_seq', 2, true);


--
-- Name: riwayat_tes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_admin
--

SELECT pg_catalog.setval('public.riwayat_tes_id_seq', 1, false);


--
-- Name: user_activities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_admin
--

SELECT pg_catalog.setval('public.user_activities_id_seq', 88, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_admin
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: articles articles_pkey; Type: CONSTRAINT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.articles
    ADD CONSTRAINT articles_pkey PRIMARY KEY (id);


--
-- Name: chat_feedback chat_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.chat_feedback
    ADD CONSTRAINT chat_feedback_pkey PRIMARY KEY (id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: emergency_contacts emergency_contacts_pkey; Type: CONSTRAINT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.emergency_contacts
    ADD CONSTRAINT emergency_contacts_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: riwayat_tes riwayat_tes_pkey; Type: CONSTRAINT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.riwayat_tes
    ADD CONSTRAINT riwayat_tes_pkey PRIMARY KEY (id);


--
-- Name: user_activities user_activities_pkey; Type: CONSTRAINT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.user_activities
    ADD CONSTRAINT user_activities_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_articles_id; Type: INDEX; Schema: public; Owner: user_admin
--

CREATE INDEX ix_articles_id ON public.articles USING btree (id);


--
-- Name: ix_chat_feedback_id; Type: INDEX; Schema: public; Owner: user_admin
--

CREATE INDEX ix_chat_feedback_id ON public.chat_feedback USING btree (id);


--
-- Name: ix_chat_messages_id; Type: INDEX; Schema: public; Owner: user_admin
--

CREATE INDEX ix_chat_messages_id ON public.chat_messages USING btree (id);


--
-- Name: ix_emergency_contacts_id; Type: INDEX; Schema: public; Owner: user_admin
--

CREATE INDEX ix_emergency_contacts_id ON public.emergency_contacts USING btree (id);


--
-- Name: ix_notifications_id; Type: INDEX; Schema: public; Owner: user_admin
--

CREATE INDEX ix_notifications_id ON public.notifications USING btree (id);


--
-- Name: ix_riwayat_tes_id; Type: INDEX; Schema: public; Owner: user_admin
--

CREATE INDEX ix_riwayat_tes_id ON public.riwayat_tes USING btree (id);


--
-- Name: ix_user_activities_id; Type: INDEX; Schema: public; Owner: user_admin
--

CREATE INDEX ix_user_activities_id ON public.user_activities USING btree (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: user_admin
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: user_admin
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: chat_feedback chat_feedback_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.chat_feedback
    ADD CONSTRAINT chat_feedback_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.chat_messages(id) ON DELETE CASCADE;


--
-- Name: chat_feedback chat_feedback_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.chat_feedback
    ADD CONSTRAINT chat_feedback_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: chat_messages chat_messages_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: riwayat_tes riwayat_tes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.riwayat_tes
    ADD CONSTRAINT riwayat_tes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_activities user_activities_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_admin
--

ALTER TABLE ONLY public.user_activities
    ADD CONSTRAINT user_activities_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 1qh4IUabtODgJhccR3YQA517hF1QGcnpFOKmYjsBubaIaHlzOeHWBq6amOMGcBd

